* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: hsl(183, 100%, 15%);
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.input-section {
  flex: 1 1 300px;
}

.input-section label {
  display: block;
  margin-top: 1rem;
  color: hsl(186, 14%, 43%);
}

.input-section input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(189, 41%, 97%);
}

.tip-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.tip-btn_1, .custom-tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}

.tip-btn_2, .custom-tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}
.tip-btn_3, .custom-tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}
.tip-btn_4, .custom-tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}
.tip-btn_5, .custom-tip {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}


.custom-tip {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: 1px solid hsl(185, 41%, 84%);
}

.result-section {
  flex: 1 1 300px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result .label {
  margin-bottom: 1.5rem;
}

.result span {
  font-size: 0.8rem;
  color: hsl(184, 14%, 56%);
}

.result h2 {
  font-size: 2rem;
  margin-top: 0.3rem;
}

#reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
